# Formatting Geo Names
* This worksheet reads the text file we got from `geonames.org`, converts the data in the format we need and saves it to csv for future use. 
* This data is downloaded from https://download.geonames.org/export/dump/

In [27]:
import pandas as pd
import numpy as np
import matplotlib as plt

from pathlib import Path

In [28]:
data_dir = Path("..", "data")
column_headers = ["geonameid",
                  "name",
                  "asciiname",
                  "alternatenames",
                  "latitude",
                  "longitude",
                  "feature class",
                  "feature code",
                  "country code",
                  "cc2",
                  "admin1 code",
                  "admin2 code",
                  "admin3 code",
                  "admin4 code",
                  "population",
                  "elevation",
                  "dem",
                  "timezone",
                  "modification date",
                  ]
tabbed_data = pd.read_csv(Path(data_dir, "IN.txt"), sep="\t", names=column_headers)
tabbed_data.head()

/var/folders/cr/_sybcrvs2vsc1dxpm0cwh0nh0000gn/T/ipykernel_59977/3567607261.py:22: DtypeWarning: Columns (9,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  tabbed_data = pd.read_csv(Path(data_dir, "IN.txt"), sep="\t", names=column_headers)

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
0,1114940,Rāvi River,Ravi River,"Ravi,Ravi River,Rāvi,Rāvi River",30.62123,71.82683,H,STM,IN,"IN,PK",0.0,NaN,NaN,NaN,0,NaN,133,Asia/Kolkata,2023-11-07
1,1114942,Punjab Plains,Punjab Plains,Punjab Plains,30.00000,75.00000,T,PLN,IN,NaN,0.0,NaN,NaN,NaN,0,NaN,206,Asia/Kolkata,2012-01-16
2,1114957,Jhelum River,Jhelum River,"Jhelum,Jhelum River,River Hydaspes,Veth River,...",31.16853,72.15066,H,STM,IN,PK,0.0,NaN,NaN,NaN,0,NaN,147,Asia/Kolkata,2020-11-11
3,1114958,Hindustan,Hindustan,"Hindustan,Hindustán",28.00000,76.00000,L,RGN,IN,"IN,PK",0.0,NaN,NaN,NaN,0,NaN,344,Asia/Kolkata,2006-06-23
4,1114965,Basantar River,Basantar River,"Basantar,Basantar Nala,Basantar Nāla,Basantar ...",32.47452,75.01449,H,STM,IN,NaN,0.0,NaN,NaN,NaN,0,NaN,300,Asia/Kolkata,2021-09-07

In [29]:
tabbed_data.shape

(657071, 19)

In [30]:
## lets filter by country code India as thats our use case for now. 
tabbed_data = tabbed_data.loc[tabbed_data["country code"] == "IN"]

In [31]:

tabbed_data.shape

(657071, 19)

In [32]:
tabbed_data.isna().sum()

geonameid                 0
name                      1
asciiname                 1
alternatenames       616941
latitude                  0
longitude                 0
feature class             0
feature code             14
country code              0
cc2                  656699
admin1 code             231
admin2 code           56000
admin3 code           58839
admin4 code          657051
population                0
elevation            656577
dem                       0
timezone                  5
modification date         0
dtype: int64

In [34]:
tabbed_data[tabbed_data["name"].isnull()]

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
506582,10926858,NaN,NaN,NaN,31.52325,74.98279,P,PPL,IN,NaN,23.0,50.0,259.0,NaN,0,NaN,232,Asia/Kolkata,2024-01-06

In [ ]:
## a manual reverse latlong lookup tells me this is `Bundala` so we'll just update that. 
tabbed_data.loc[tabbed_data["name"].isnull(),"name"] = "Bundala"
tabbed_data.loc[tabbed_data["asciiname"].isnull(),"asciiname"] = "Bundala"

In [37]:
tabbed_data.isna().sum()

geonameid                 0
name                      0
asciiname                 0
alternatenames       616941
latitude                  0
longitude                 0
feature class             0
feature code             14
country code              0
cc2                  656699
admin1 code             231
admin2 code           56000
admin3 code           58839
admin4 code          657051
population                0
elevation            656577
dem                       0
timezone                  5
modification date         0
dtype: int64

In [36]:
tabbed_data["name"].value_counts()

name
Rāmpur                                                        972
Gopālpur                                                      494
Rāmnagar                                                      468
Pudūr                                                         449
Fatehpur                                                      443
                                                             ...
Rabrahia                                                        1
Rabrahia Purwa                                                  1
Haswāpur                                                        1
Pacheri Tāl                                                     1
Association for Social Change Evolution and Transformation      1
Name: count, Length: 438834, dtype: int64

In [19]:
## we seem to have duplicates, lets explore a few
tabbed_data.loc[tabbed_data["name"] == "Rāmpur"]

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
5939,1258596,Rāmpur,Rampur,"Rampur,Rampur Bushahr,Rāmpur,Рампур",31.44943,77.63087,P,PPL,IN,NaN,11.0,033,177,NaN,6206,NaN,992,Asia/Kolkata,2024-01-06
5940,1258597,Rāmpur,Rampur,NaN,30.82388,76.04976,P,PPL,IN,NaN,23.0,041,226,NaN,0,NaN,259,Asia/Kolkata,2024-01-06
5941,1258598,Rāmpur,Rampur,"Rampur,Rāmpur",29.80620,77.45251,P,PPL,IN,NaN,36.0,132,705,NaN,26257,NaN,270,Asia/Kolkata,2024-03-10
5942,1258599,Rāmpur,Rampur,"Rampur,Rāmpur",28.81014,79.02699,P,PPL,IN,NaN,36.0,136,726,NaN,296418,NaN,196,Asia/Kolkata,2024-01-06
5943,1258600,Rāmpur,Rampur,NaN,27.63232,76.41573,P,PPL,IN,NaN,24.0,104,500,NaN,0,NaN,375,Asia/Kolkata,2024-01-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638636,11733803,Rāmpur,Rampur,NaN,21.09036,84.32085,T,MT,IN,NaN,21.0,372.0,2797.0,NaN,0,NaN,445,Asia/Kolkata,2024-01-06
639927,11738858,Rāmpur,Rampur,NaN,20.86453,84.18474,P,PPL,IN,NaN,21.0,391.0,3130.0,NaN,0,NaN,111,Asia/Kolkata,2024-01-06
642834,11742070,Rāmpur,Rampur,NaN,20.74456,84.68426,P,PPL,IN,NaN,21.0,384.0,3019.0,NaN,0,NaN,307,Asia/Kolkata,2024-01-06
648820,12158808,Rāmpur,Rampur,"Patti Gujar,Rampur,Rāmpur",28.57066,78.85709,P,PPL,IN,NaN,36.0,135.0,720.0,NaN,0,NaN,189,Asia/Kolkata,2024-01-06
648821,12158809,Rāmpur,Rampur,"Daulatpur,Rampur,Rāmpur",25.62293,81.98622,P,PPL,IN,NaN,36.0,175.0,889.0,NaN,0,NaN,102,Asia/Kolkata,2024-01-07

In [20]:
tabbed_data.loc[tabbed_data["name"] == "Gopālpur"]

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
18224,1270957,Gopālpur,Gopalpur,"Gopalpur,Gopapur,Gopālpur",24.83333,87.80000,P,PPL,IN,NaN,38.0,352,2572,NaN,0,NaN,34,Asia/Kolkata,2024-01-07
18225,1270958,Gopālpur,Gopalpur,NaN,22.64771,77.09468,P,PPL,IN,NaN,35.0,445,3587,NaN,0,NaN,299,Asia/Kolkata,2024-01-06
18226,1270959,Gopālpur,Gopalpur,"Gopalpali,Gopalpur,Gopālpur",22.05085,83.70268,P,PPL,IN,NaN,37.0,NaN,NaN,NaN,0,NaN,297,Asia/Kolkata,2020-06-10
18227,1270960,Gopālpur,Gopalpur,NaN,21.84875,87.72550,P,PPL,IN,NaN,28.0,345,2490,NaN,0,NaN,5,Asia/Kolkata,2024-01-06
18228,1270961,Gopālpur,Gopalpur,"Gopalpur,Gopalpur-on-Sea,Gopālpur,Gopālpur-on-Sea",19.25861,84.90517,P,PPL,IN,NaN,21.0,388,3094,NaN,7163,NaN,23,Asia/Kolkata,2024-01-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634367,11725475,Gopālpur,Gopalpur,NaN,25.80465,86.28162,P,PPL,IN,NaN,34.0,215.0,1197.0,NaN,0,NaN,46,Asia/Kolkata,2024-01-06
634584,11725692,Gopālpur,Gopalpur,NaN,25.78817,86.47755,P,PPL,IN,NaN,34.0,214.0,1178.0,NaN,0,NaN,44,Asia/Kolkata,2024-01-06
636835,11728871,Gopālpur,Gopalpur,NaN,24.25978,86.46052,P,PPL,IN,NaN,38.0,349.0,2537.0,NaN,0,NaN,306,Asia/Kolkata,2024-01-07
637834,11729977,Gopālpur,Gopalpur,NaN,21.15134,84.06516,P,PPL,IN,NaN,21.0,372.0,2796.0,NaN,0,NaN,185,Asia/Kolkata,2024-01-06
642561,11741797,Gopālpur,Gopalpur,NaN,20.76409,84.51324,P,PPL,IN,NaN,21.0,384.0,3017.0,NaN,0,NaN,109,Asia/Kolkata,2024-01-06

* From the latitude and longitude these seem to be the same city or similar area. 
* Lets explore by grouping the data by name, and finding min/max of latitude and longitude

In [21]:
lat_check = tabbed_data.groupby("name")["latitude"].agg(["min","max"])
lat_check["lat_diff"] = lat_check["max"] - lat_check["min"]
lat_check["lat_diff"].describe()

count    438833.000000
mean          0.325972
std           1.459100
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          24.622020
Name: lat_diff, dtype: float64

In [22]:
lat_check = tabbed_data.groupby("name")["longitude"].agg(["min","max"])
lat_check["lat_diff"] = lat_check["max"] - lat_check["min"]
lat_check["lat_diff"].describe()

count    438833.000000
mean          0.341346
std           1.455000
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          23.702170
Name: lat_diff, dtype: float64

In [38]:
import unicodedata
tabbed_data["name"] = tabbed_data["name"].str.strip().str.lower()
tabbed_data["asciiname"] = tabbed_data["asciiname"].str.strip().str.lower()

## unicode normalization
tabbed_data["name"] = tabbed_data["name"].map(lambda ct: unicodedata.normalize("NFKD",ct).encode("ascii","ignore").decode())
tabbed_data["asciiname"] = tabbed_data["asciiname"].map(lambda ct: unicodedata.normalize("NFKD",ct).encode("ascii","ignore").decode())

In [39]:
## may be the data has old and updated info, kind of like history
tabbed_data = tabbed_data.groupby("name", as_index=False).agg({
    "name":"first",
    "asciiname":"first",
    "latitude": "mean",
    "longitude":"mean"
})

In [40]:
tabbed_data["name"].value_counts()

name
#100 bed and breakfast     1
narayanpur manjha          1
narayanpur main canal      1
narayanpur mafi            1
narayanpur lalak chaube    1
                          ..
gyadal gondi               1
gya                        1
gwinai                     1
gwilani                    1
zuvvigunta                 1
Name: count, Length: 407782, dtype: int64

* We just need `asciiname`, `latitude`, `longitude`, we can drop rest of the colums

In [41]:
# tabbed_data.drop(columns=["geonameid",
#                           "alternatenames",
#                           "feature class",
#                           "feature code",
#                           "country code",
#                           "cc2",
#                           "admin1 code",
#                           "admin2 code",
#                           "admin3 code",
#                           "admin4 code",
#                           "population",
#                           "elevation",
#                           "dem",
#                           "timezone",
#                           "modification date",
#                           ], inplace=True)

In [43]:
tabbed_data.head()

                     name               asciiname  latitude  longitude
0  #100 bed and breakfast  #100 bed and breakfast  12.98332   77.58427
1            10 calangute            10 calangute  15.54244   73.76279
2       100 feet hospital       100 feet hospital  19.38609   72.82558
3       12th avenue hotel       12th avenue hotel  12.97044   77.64617
4    1589 city mark hotel    1589 city mark hotel  28.46348   77.03176

In [44]:
## lets rename asciiname to name
tabbed_data.rename(columns={"asciiname":"ascii_name", "latitude":"lat","longitude":"long"}, inplace=True)

In [46]:
tabbed_data.head()

                     name              ascii_name       lat      long
0  #100 bed and breakfast  #100 bed and breakfast  12.98332  77.58427
1            10 calangute            10 calangute  15.54244  73.76279
2       100 feet hospital       100 feet hospital  19.38609  72.82558
3       12th avenue hotel       12th avenue hotel  12.97044  77.64617
4    1589 city mark hotel    1589 city mark hotel  28.46348  77.03176

In [47]:
## save it as csv
tabbed_data.to_csv(Path(data_dir, "detailed_in.csv"), index=False)

In [48]:
tabbed_data["name"].value_counts()

name
#100 bed and breakfast     1
narayanpur manjha          1
narayanpur main canal      1
narayanpur mafi            1
narayanpur lalak chaube    1
                          ..
gyadal gondi               1
gya                        1
gwinai                     1
gwilani                    1
zuvvigunta                 1
Name: count, Length: 407782, dtype: int64